h3 {
    color: aqua;
    font-size: 10px;
    font-family: roboto;
}

section{
    height: 80vh;
    border: 1px solid black
}

.red{
    color: red;
    font-weight:200;
    font-family: roboto; 
}

.blue{color: black;}
p.blue{color: blue;} bad practice
.red.blue{font-weight: 700;} bad practice

#home{font-size: 20px;font-weight:500;}

#info{font-size: 15px;font-weight:500;}